@using NTR20Z.Models
@using NTR20Z.Controllers
    

@model Reader   


@{
    ViewData["Title"] = "Dodawanie sali";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "nie dziala", new{@class = "text-danger"})

    <div>
        <p>Wprowadź nazwę nowej sali</p>
        @Html.TextBoxFor(Model=>Model.chosenRoom)  
    </div>

    <button class="btn btn-danger" 
    onclick="location.href='@Url.Action("AddRoom", "Home", new { id = Model.chosenRoom})'">Dodaj salę</button>
}